<STYLE  TYPE="text/css">
<!--

.lightColor { color : "#FFFFFF" }

.darkColor { color : "#006699" }

.lightColorBG { background-color : "#FFFFFF" }

.darkColorBG { background-color : "#006699" }

.menuTableBG { background-color : "#99ccff" }

.menuTableBG_old { background-color : "#f6fbff" }

.bgColor { background-color : "#D6DBE4" }

.bgAltColor { background-color : "#D2D2D2" }

.tdsum 
{ background-color: #333333; 
  color: #ffffff; 
  font-size: 9pt; 
  font-weight: "bold" 
}
A.tdsum:LINK, A.tdsum:VISITED, A.tdsum:ACTIVE { color: #ffffff; font-weight: "bold" }

A.thlink:LINK, A.thlink:VISITED, A.thlink:ACTIVE { color: #ffffff; font-weight: "bold" }

.warning { color : "FF0000" }

PRE, OL, UL, BLOCKQUOTE, TABLE, BODY, A, H1, H2, H3, H4, H5, H6, P, TH, TD 
{ font-family: Verdana, Arial, Helvetica, sans-serif; margin:0px;}

H1, H2, H3, H4, H5, H6 { color: #006699 }

OL, UL, TABLE, H1, H2, H3, H4, H5, H6, BODY { background-color: #FFFFFF;margin:0px;}

TABLE 
{ font-size: x-small; 
  border-color: #006699; 
  padding-left: 0; 
  padding-right: 0; 
  padding-top: 0; 
  padding-bottom: 0; 
  background-position: left top 
}

TR { text-align: Left }

TH { background-color: #006699; color: #FFFFFF; align: left }

TD { align: left; vertical-align: top }

P { font-size: x-small; margin: 1em 5em 1em 0em }

BLOCKQUOTE { font-size: x-small }

H1, H2, H3, H4, H5, H6 { font-weight: bold }

H1 { font-size: x-large; }

H2 { font-size: large; }

H3 { font-size: medium; }

H4 { font-size: small; }

H5 { font-size: x-small; }

H6 { font-size: x-small; font-style: italic }

OL, UL { font-size: x-small }

OL { list-style-type: decimal}

OL OL { list-style-type: upper-alpha }

OL OL OL { list-style-type: lower-alpha }

UL { list-style-type: disc }

UL UL { list-style-type: circle }

UL UL UL { list-style-type: square }

TH A:LINK { color: #FFFFFF }

A:LINK { color: #003366 }

A:VISITED { color: #800080 }

A:ACTIVE  { color: #0000FF }

A:LINK.darkAnchor, A:VISITED.darkAnchor, A:ACTIVE.darkAnchor 
{ color: #003366; font-size: 8pt; font-weight: "bold"}

PRE { color: #008080; font-size: x-small; margin: 0.25em 5em 0.25em 0em }

CODE { font-size: 14px; font-family: Courier }

table.formgroup
{
MARGIN: 0;
BACKGROUND-COLOR: white;
PADDING: 0;
VERTICAL-ALIGN: top;
BORDER: 1 solid #006699
}

tr.rowList
{
BACKGROUND-COLOR: #D6DBE4;
}

tr.rowListAlt
{
BACKGROUND-COLOR: #D2D2D2;
}

tr.formgroupheader
{
MARGIN: 0;
BACKGROUND-COLOR: #006699;
COLOR: #FFFFFF;
FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
FONT-SIZE: 12px;
FONT-WEIGHT: bold;
TEXT-ALIGN: left;
VERTICAL-ALIGN: top;
PADDING-TOP: 0;
}

td.formgroupheadercell
{
MARGIN: 5;
BACKGROUND-COLOR: #006699;
COLOR: #FFFFFF;
FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
FONT-SIZE: 12px;
FONT-WEIGHT: bold;
TEXT-ALIGN: left;
VERTICAL-ALIGN: middle;
PADDING-TOP: 5;
BORDER: 1 solid #006699
}

table.formlayout
{
MARGIN: 0;
BACKGROUND-COLOR: white;
PADDING: 0;
VERTICAL-ALIGN: top;
BORDER: none
}

td.formlabel
{
MARGIN: 0;
BACKGROUND-COLOR: white;
FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
FONT-SIZE: 12px;
FONT-WEIGHT: bold;
TEXT-ALIGN: right;
VERTICAL-ALIGN: top;
PADDING-TOP: 5;
COLOR: black
}

td.formlabelDisabled
{
MARGIN: 0;
BACKGROUND-COLOR: white;
FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
FONT-SIZE: 12px;
FONT-WEIGHT: bold;
TEXT-ALIGN: right;
VERTICAL-ALIGN: top;
PADDING-TOP: 5;
COLOR: "#808080"
}

td.formfield
{
MARGIN: 0;
BACKGROUND-COLOR: white;
FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
FONT-SIZE: 12px;
FONT-WEIGHT: normal;
TEXT-ALIGN: left;
VERTICAL-ALIGN: top;
PADDING-TOP: 5;
COLOR: black
}

td.formfieldDisabled
{
MARGIN: 0;
BACKGROUND-COLOR: white;
FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
FONT-SIZE: 12px;
FONT-WEIGHT: normal;
TEXT-ALIGN: left;
VERTICAL-ALIGN: top;
PADDING-TOP: 5;
COLOR: black;
BORDER-STYLE: none
}

p.formbody
{
BACKGROUND-COLOR: white;
FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
MARGIN: 5;
FONT-SIZE: 12px
}

table.mainlayout
{
MARGIN: 0;
PADDING: 10;
BORDER: 0 none
}

td.mainlayoutitem
{
PADDING-RIGHT: 5;
FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
TEXT-ALIGN: left;
VERTICAL-ALIGN: text-top
}

table.data
{
MARGIN: 0;
BORDER: 1 solid black
}

th.dataheader
{
MARGIN: 0;
BACKGROUND-COLOR: #006699;
COLOR: white
FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
FONT-SIZE: 10px;
FONT-WEIGHT: bold;
TEXT-ALIGN: center;
VERTICAL-ALIGN: middle;
}

td.dataitem
{
MARGIN: 0;
FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
FONT-SIZE: 10px;
FONT-WEIGHT: normal;
VERTICAL-ALIGN: middle;
PADDING-TOP: 5;
COLOR: black
}

th.smalldataheader
{
MARGIN: 0;
BACKGROUND-COLOR: #006699;
COLOR: white
FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
FONT-SIZE: 9px;
FONT-WEIGHT: bold;
TEXT-ALIGN: center;
VERTICAL-ALIGN: middle;
}

td.smalldataitem_number
{
MARGIN: 0;
FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
FONT-SIZE: 9px;
FONT-WEIGHT: normal;
TEXT-ALIGN: right;
VERTICAL-ALIGN: middle;
PADDING-TOP: 5;
COLOR: black
}
td.smalldataitem_varchar2
{
MARGIN: 0;
FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
FONT-SIZE: 9px;
FONT-WEIGHT: normal;
TEXT-ALIGN: left;
VERTICAL-ALIGN: middle;
PADDING-TOP: 5;
COLOR: black
}

td.sum_smalldataitem_number
{
MARGIN: 0;
FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
FONT-SIZE: 9px;
FONT-WEIGHT: bold;
TEXT-ALIGN: right;
VERTICAL-ALIGN: middle;
PADDING-TOP: 5;
COLOR: white
}
td.sum_smalldataitem_varchar2
{
MARGIN: 0;
FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
FONT-SIZE: 9px;
FONT-WEIGHT: bold;
TEXT-ALIGN: left;
VERTICAL-ALIGN: middle;
PADDING-TOP: 5;
COLOR: white
}

p.errorbody
{
BACKGROUND-COLOR: white;
COLOR: red;
FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
FONT-SIZE: 14px
}

.pageName
{
FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
FONT-SIZE: 20px;
FONT-WEIGHT: normal;
COLOR: #ffffff
}

.head, A.head:LINK, A.head:VISITED, A.head:ACTIVE { color: #ffffff; text-decoration: none; font-weight: "bold" }
A.head:HOVER { color: #ccffcc; text-decoration: underline; font-weight: "bold" }
td.head { background-color: #003366; color: #ffffff; text-decoration: none; font-weight: "bold" }
A.head, TD.head, TH.head { font-size : 9pt}

A.foot:LINK, A.foot:VISITED, A.foot:ACTIVE { color: #ffffff; text-decoration: none }
A.foot:HOVER { color: #ccffcc; text-decoration: underline }
td.foot { background-color: #003366; color: #ffffff; text-decoration: none }
A.foot, TD.foot, TH.foot { font-size : 7pt}

-->
</STYLE>
