<!--
        TaskTable.data_prototype = {
            zip_code: null,
            zip_code_suffix: null,
            clli_code: null,
            task_type: null,
            task_id: null,
            task_seq: null,
            task_url: null,
            task_status: null,
            time_range: null,
            start_time: null,
            end_time: null,
            service_type: null
        };
-->

<table width="90" border="0">
    <tbody>
        <tr>
            <td>
                {{zip_code}}{{zip_code_suffix}} {{clli_code}}<br>
            </td>
        </tr>
        <tr>
            <td>
                <a target="_new" href="{{task_url}}">
                {{task_type}}{{task_id}}-{{task_seq}}<br>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                {{task_status}}<br>({{start_time}}-{{end_time}})
                <br>
            </td>
        </tr>
        <tr>
            <td>
                {{service_type}}<br>
            </td>
        </tr>
    </tbody>
</table>
