<td>
    <table width="90" border="0">
        <tbody>
            <tr bgcolor="#D6DBE4">
                <td>
                    92806202 ANHMCA12<br>
                </td>
            </tr>
            <tr bgcolor="#D6DBE4">
                <td>
                    <a target="_new" href="http://mobile.oss.covad.com:17555/iworeport/iwo/IwoOutput.jsp?referrer=INTERNAL&amp;worklog=Y&amp;clientOrderId=29220863">
                    WO29220863-1<br>
                    </a>
                </td>
            </tr>
            <tr bgcolor="#D6DBE4">
                <td>
                    EARMARKED<br>(12:46-15:06)
                    <br>
                </td>
            </tr>
            <tr bgcolor="#D6DBE4">
                <td>
                    Install-BondedT1<br>
                </td>
            </tr>
        </tbody>
    </table>
</td>