<style>


#sync-job-form {
    width: 95%;
    margin: 0 auto;
    position: relative;
    z-index:5;
    
    background: #f3f3f3;
    border: 1px solid #fff;
    border-radius: 5px;
    
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

#sync-job-form {
    font-size: 12px;
}

#sync-job-form input, #sync-job-form textarea{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5) inset;
    color: #9D9E9E;
    padding: 3px 5px;
    font-weight: bold;
}

#sync-job-form input:hover, #sync-job-form textarea:hover {
    background: none repeat scroll 0 0 #DFE9EC;
    color: #414848;
}
#sync-job-form input:focus, #sync-job-form textarea:focus {
    background: none repeat scroll 0 0 #DFE9EC;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25) inset;
    color: #414848;
}

#sync-job-form fieldset {
    clear: both;
    border:1px solid #9D9E9E;
    border-radius: 5px;
    margin: 4px;
}
#sync-job-form fieldset legend {
    font-size: .8em;
}

#sync-job-form label {
    float:left;
    padding-top:5px;
    padding-left:10px;
    padding-right:5px;
    /*color: #9D9E9E;*/
}
#sync-job-form label:after {
    content: ': ';
}
#sync-job-form div.field-wrapper {
    float:left;
}

#sync-job-form input {
    width: 140px;
}
#sync-job-form input.ContractRefNum {
    width: 80px;        
}
#sync-job-form input.SchedSeq {
    width: 40px;            
}
#sync-job-form input.LocationState {
    width:40px;
}
#sync-job-form input.LocationZip {
    width: 60px;            
}
#sync-job-form textarea.ContractSpecialInst {
    width: 140px;
    height: 2em;
}
#sync-job-form input.jobs_data-scp_num {
    width: 80px;        
}
#sync-job-form input.jobs_data-sow_num {
    width: 80px;            
}
#sync-job-form input.jobs_data-work_order {
    width: 80px;    
}
#sync-job-form input.jobs_data-circuit_qty {
    width: 40px;    
}
#sync-job-form input.jobs_data-ilec_circuit_numbers {
    width: 40px;
}


</style>

<form id="sync-job-form">


  <fieldset class="schedule">
    <legend>Schedule</legend>
    
    <div class="field-wrapper AssignedTechName">
		<label for="sync-job-form-AssignedTechName">Tech Name</label><span class="require"></span>
		<input type="text" name="AssignedTechName" class="AssignedTechName" id="sync-job-form-AssignedTechName">
    </div>

    <div class="field-wrapper ContractRegionName">
		<label for="sync-job-form-ContractRegionName">Region</label><span class="require"></span>
		<input type="text" name="ContractRegionName" class="ContractRegionName" id="sync-job-form-ContractRegionName">
    </div>

    <div class="field-wrapper AssignedDate">
		<label for="sync-job-form-AssignedDate">Scheduled Date</label><span class="require"></span>
		<input type="text" name="AssignedDate" class="AssignedDate" id="sync-job-form-AssignedDate">
    </div>

    <div class="field-wrapper AssignedTime">
		<label for="sync-job-form-AssignedTime">Scheduled Time</label><span class="require"></span>
		<input type="text" name="AssignedTime" class="AssignedTime" id="sync-job-form-AssignedTime">
    </div>

  </fieldset>




  <fieldset class="job">
    <legend>Job Type</legend>
    
    <div class="field-wrapper ContractRefNum">
		<label for="sync-job-form-ContractRefNum">Task ID</label><span class="require"></span>
		<input type="text" name="ContractRefNum" class="ContractRefNum" id="sync-job-form-ContractRefNum">
    </div>

    <div class="field-wrapper SchedSeq">
		<label for="sync-job-form-SchedSeq">Dispatch Seq</label><span class="require"></span>
		<input type="text" name="SchedSeq" class="SchedSeq" id="sync-job-form-SchedSeq">
    </div>

    <div class="field-wrapper JobType">
		<label for="sync-job-form-JobType">Job Type</label><span class="require"></span>
		<input type="text" name="JobType" class="JobType" id="sync-job-form-JobType">
    </div>

    <div class="field-wrapper JobSubType">
		<label for="sync-job-form-JobSubType">Job Class</label><span class="require"></span>
		<input type="text" name="JobSubType" class="JobSubType" id="sync-job-form-JobSubType">
    </div>

    <div class="field-wrapper jobs_data-isp">
		<label for="sync-job-form-jobs_data-isp">ISP</label><span class="require"></span>
		<input type="text" name="jobs_data[isp]" class="jobs_data-isp" id="sync-job-form-jobs_data-isp">
    </div>

    <div class="field-wrapper jobs_data-affiliate">
        <label for="sync-job-form-jobs_data-affiliate">ISP</label><span class="require"></span>
        <input type="text" name="jobs_data[affiliate]" class="jobs_data-affiliate" id="sync-job-form-jobs_data-affiliate">
    </div>

  </fieldset>


  <fieldset class="end-user">
    <legend>End User</legend>
    
    <div class="field-wrapper LocationName">
		<label for="sync-job-form-LocationName">Name</label><span class="require"></span>
		<input type="text" name="LocationName" class="LocationName" id="sync-job-form-LocationName">
    </div>

    <div class="field-wrapper LocationAddress">
		<label for="sync-job-form-LocationAddress">Address</label><span class="require"></span>
		<input type="text" name="LocationAddress" class="LocationAddress" id="sync-job-form-LocationAddress">
    </div>

    <div class="field-wrapper LocationCity">
		<label for="sync-job-form-LocationCity">City</label><span class="require"></span>
		<input type="text" name="LocationCity" class="LocationCity" id="sync-job-form-LocationCity">
    </div>

    <div class="field-wrapper LocationState">
		<label for="sync-job-form-LocationState">State</label><span class="require"></span>
		<input type="text" name="LocationState" class="LocationState" id="sync-job-form-LocationState">
    </div>

    <div class="field-wrapper LocationZip">
		<label for="sync-job-form-LocationZip">Zip</label><span class="require"></span>
		<input type="text" name="LocationZip" class="LocationZip" id="sync-job-form-LocationZip">
    </div>

    <div class="field-wrapper LocationPhone">
        <label for="sync-job-form-LocationPhone">Phone</label><span class="require"></span>
        <input type="text" name="LocationPhone" class="LocationPhone" id="sync-job-form-LocationPhone">
    </div>

  </fieldset>


  <fieldset class="service">
    <legend>Service</legend>
    <div class="field-wrapper jobs_data-service_type">
        <label for="sync-job-form-jobs_data-service_type">Service</label><span class="require"></span>
        <input type="text" name="jobs_data[service_type]" class="jobs_data-service_type" id="sync-job-form-jobs_data-service_type">
    </div>

    <div class="field-wrapper jobs_data-cpe_type">
        <label for="sync-job-form-jobs_data-cpe_type">CPE Type</label><span class="require"></span>
        <input type="text" name="jobs_data[cpe_type]" class="jobs_data-cpe_type" id="sync-job-form-jobs_data-cpe_type">
    </div>

    <div class="field-wrapper jobs_data-circuit_number">
        <label for="sync-job-form-jobs_data-circuit_number">Circuit Number</label><span class="require"></span>
        <input type="text" name="jobs_data[circuit_number]" class="jobs_data-circuit_number" id="sync-job-form-jobs_data-circuit_number">
    </div>

    <div class="field-wrapper jobs_data-affiliate">
        <label for="sync-job-form-jobs_data-affiliate">Affiliate</label><span class="require"></span>
        <input type="text" name="jobs_data[affiliate]" class="jobs_data-affiliate" id="sync-job-form-jobs_data-affiliate">
    </div>

    <div class="field-wrapper jobs_data-scp_num">
        <label for="sync-job-form-jobs_data-scp_num">SCP Num</label><span class="require"></span>
        <input type="text" name="jobs_data[scp_num]" class="jobs_data-scp_num" id="sync-job-form-jobs_data-scp_num">
    </div>

    <div class="field-wrapper jobs_data-sow_num">
        <label for="sync-job-form-jobs_data-sow_num">SOW</label><span class="require"></span>
        <input type="text" name="jobs_data[sow_num]" class="jobs_data-sow_num" id="sync-job-form-jobs_data-sow_num">
    </div>

    <div class="field-wrapper jobs_data-work_order">
        <label for="sync-job-form-jobs_data-work_order">Work Order</label><span class="require"></span>
        <input type="text" name="jobs_data[work_order]" class="jobs_data-work_order" id="sync-job-form-jobs_data-work_order">
    </div>

    <div class="field-wrapper jobs_data-circuit_qty">
        <label for="sync-job-form-jobs_data-circuit_qty">Circuit Qty</label><span class="require"></span>
        <input type="text" name="jobs_data[circuit_qty]" class="jobs_data-circuit_qty" id="sync-job-form-jobs_data-circuit_qty">
    </div>

    <div class="field-wrapper jobs_data-ilec_circuit_numbers">
        <label for="sync-job-form-jobs_data-ilec_circuit_numbers">ILEC Circuits</label><span class="require"></span>
        <input type="text" name="jobs_data[ilec_circuit_numbers]" class="jobs_data-ilec_circuit_numbers" id="sync-job-form-jobs_data-ilec_circuit_numbers">
    </div>

    <div class="field-wrapper ContractSpecialInst">
        <label for="sync-job-form-ContractSpecialInst">Notes</label><span class="require"></span>
        <textarea name="ContractSpecialInst" class="ContractSpecialInst" id="sync-job-form-ContractSpecialInst"></textarea>
    </div>
    
</fieldset>

</form>