.stripe-top {
height: 5px;
width: 100%;
background-color: #16396F;
margin-bottom: 1px;
}

.stripe-mini {
height: 2px;
width: 100%;
background-color: #002d62;
}

.container {
width: 100%;
overflow: visible;
}
.header {
background-color: #fff;
padding: 0 0 0 0;
width: 100%;
font-family: 'Lato', sans-serif;
font-size: 14px;
}

.seprator {
    color: #002d62;
    float: left;
    font-family: Calibri;
    font-size: 16pt;
    margin-left: 14px;
}
.appname {
    color: #002d62;
    float: left;
    font-family: Calibri;
    font-size: 20pt;
    font-weight: bold;
    margin-left: 15px;
}
.stripe-bottom {
height: 2px;
width: 98%;
background-color: #5191cd;
position: absolute;
margin: 0 ;
padding: 0 0 0 5px;
}

.left25 {
margin-left: 25px;
}

table {
border: none;
margin: 0px 0px;
border-collapse: collapse;
border-spacing: 0;
}

.blue_title{
color: #002d62;
font-weight: bold;
}

.gc_footer {
    margin-top: 0px;
    position: relative;
    z-index: 1010 !important;
    padding: 10px 2%;
    width: 100%;
    background: #f6f6f6;
    text-align:center;
    clear: both;
    font-family: Calibri;
	font-size: 10pt;
}

#pageWrapper{
background-color: white;
}

.Log_out{
color: #002d62;
font-weight: bold;
background: transparent;
border: 0px
}

.footer-container {
	font-weight: 300;
	font-size: 14px;
	color: #6c6c6c;
	line-height: 20px;
	font-family: Lato, sans-serif;
	padding: 3px;
}