/*************************Login Form****************************************************/

#user-drop-controls {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    float: right;
    background: #eee !important;
    /* border-bottom: 1px solid #fff;
    */
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px; /* pos */
    margin-right: 30px;
    margin-top: 8px;
}

#user-drop-controls fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}
#user-drop-controls input:focus,
#user-drop-controls textarea:focus {
    outline: none;
}

#user-drop-controls li {
    float: left;
}

#user-drop-controls .user-drop-login {
    /* un-comment if more control items: border-right:1px solid #ddd;
    -moz-box-shadow: 1px 0 0 #fff;
    -webkit-box-shadow: 1px 0 0 #fff;
    box-shadow: 1px 0 0 #fff;
    */
}
.user-drop-login .login-trigger {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    height: 25px;
    line-height: 25px;
    /*font-weight: bold;*/
    padding: 0 8px;
    text-decoration: none;
    color: #444;
    text-shadow: 0 1px 0 #fff;
}
.user-drop-login .login-trigger {
    /* -moz-border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
    */
}
.user-drop-login .login-trigger:hover,
.user-drop-login .active {
    /*background: #fff;*/
}
.user-drop-login .login-content {
    display: none;
    position: absolute;
    top: 24px;
    right: 0;
    width: 270px;
    z-index: 999;
    background: #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
    background-image: -webkit-linear-gradient(top, #fff, #eee);
    background-image: -moz-linear-gradient(top, #fff, #eee);
    background-image: -ms-linear-gradient(top, #fff, #eee);
    background-image: -o-linear-gradient(top, #fff, #eee);
    background-image: linear-gradient(top, #fff, #eee);
    padding: 15px;
    -moz-box-shadow: 0 2px 2px -1px rgba(0, 0, 0, .9);
    -webkit-box-shadow: 0 2px 2px -1px rgba(0, 0, 0, .9);
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, .9);
    -moz-border-radius: 3px 0 3px 3px;
    -webkit-border-radius: 3px 0 3px 3px;
    border-radius: 3px 0 3px 3px;
}

.user-drop-login fieldset.inputs input {
    background: #f1f1f1;
    padding: 6px 5px;
    margin: 0 0 5px 0;
    width: 238px;
    border: 1px solid #ccc;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 1px 1px #ccc inset;
    -webkit-box-shadow: 0 1px 1px #ccc inset;
    box-shadow: 0 1px 1px #ccc inset;
}

.user-drop-login fieldset.inputs input:focus {
    background-color: #fff;
    border-color: #e8c291;
    outline: none;
    -moz-box-shadow: 0 0 0 1px #e8c291 inset;
    -webkit-box-shadow: 0 0 0 1px #e8c291 inset;
    box-shadow: 0 0 0 1px #e8c291 inset;
}

/* -------------------- */
.user-drop-login fieldset.actions {
    margin: 10px 0 0 0;
}
.user-drop-login input.submit-button {
    background-color: #2f96b4;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#5bc0de), to(#2f96b4));
    background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: -ms-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: linear-gradient(top, #5bc0de, #2f96b4);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    border: 1px solid #3993BA;
    float: left;
    height: 30px;
    padding: 0;
    width: 100px;
    cursor: pointer;
    font: bold 14px Arial, Helvetica;
    color: #fff;
}
.user-drop-login input.submit-button:hover,
.user-drop-login input.submit-button:focus {
    background-color: #5bc0de;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#2f96b4), to(#5bc0de));
    background-image: -webkit-linear-gradient(top, #2f96b4, #5bc0de);
    background-image: -moz-linear-gradient(top, #2f96b4, #5bc0de);
    background-image: -ms-linear-gradient(top, #2f96b4, #5bc0de);
    background-image: -o-linear-gradient(top, #2f96b4, #5bc0de);
    background-image: linear-gradient(top, #2f96b4, #5bc0de);
}
.user-drop-login input.submit-button:active {
    outline: none;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
}
.user-drop-login input.submit-button::-moz-focus-inner {
    border: none;
}
.user-drop-login label {
    float: right;
    line-height: 30px;
}
.user-drop-login label input {
    position: relative;
    top: 2px;
    right: 2px;
}

/*************************END Login Form************************************************/
