/*make room for control bar in document - this also may be set in the user script*/
body {
    padding-top: 45px;
}


.navbar img.navbar-brand-image {
    width: 80px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: -3px;
}

.tm-tech-context-menu-btn, .tm-task-context-menu-btn {
    padding: 1px 4px 5px 4px;
}

.document-type-controls {
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
}

/*
//
// For jquery.showLoading
//----------------------------------------*/
.loading-indicator {
    height: 80px;
    width: 80px;
    background: url( 'images/loading.gif' );
    background-repeat: no-repeat;
    background-position: center center;
}

.loading-indicator-overlay {
    background-color: #FFFFFF;
    opacity: 0.6;
    filter: alpha(opacity = 60);
}

/*
//
// Task Form Panel
//----------------------------------------*/
#task-form-panel {
    position: fixed;
    height: 0px;
    width: 100%;
    background-color: #ccc;
    top:0px;
    left:0px;
    border-bottom: 1px solid #000;
    overflow: auto;
    z-index: 100;
}

#task-form-panel input, #task-form-panel textarea, #task-form-panel select{
    /*background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5) inset;*/
    color: #9D9E9E;
    padding: 3px 5px;
    font-weight: bold;
    height: 28px;
    border-radius: 6px;
}

#task-form-panel input:hover, #task-form-panel textarea:hover, #task-form-panel select:hover {
    /*background: none repeat scroll 0 0 #DFE9EC;*/
    color: #414848;
}
#task-form-panel input:focus, #task-form-panel textarea:focus, #task-form-panel select:focus {
    /*background: none repeat scroll 0 0 #DFE9EC;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25) inset;*/
    color: #414848;
}


#task-form-panel fieldset {
    clear: both;
    border:1px solid #9D9E9E;
    border-radius: 5px;
    margin: 4px;
    padding: 0 0.625em 0;
}


#task-form-panel fieldset legend {
    font-size: .8em;
    border-width: 0;
    width: inherit;
    margin-bottom: 0;
}

#task-form-panel label {
    vertical-align: top;
    display: inline-block;
    padding-top:5px;
    padding-left:10px;
    padding-right:5px;
    /*color: #9D9E9E;*/
}

#task-form-panel button.close-panel{
    position:fixed;
    left:5px;
    z-index: 50;
}

#task-form-panel label:after {
    content: ': ';
}

#task-form-panel .form-input {
    display: inline-block;
}

#task-form-panel legend + .form-group {
    margin-top: 0;
}

#task-form-panel input {
    width: 140px;
}

#task-form-panel input[name="ContractRefNum"] {
    width: 80px;
}
#task-form-panel input[name="SchedSeq"] {
    width: 40px;
}
#task-form-panel input[name="LocationState"] {
    width:40px;
}
#task-form-panel input[name="LocationZip"] {
    width: 60px;
}
#task-form-panel textarea[name="ContractSpecialInst"] {
    width: 540px;
    height: 6em;
}
#task-form-panel input[name="jobs_data:scp_num"] {
    width: 80px;
}
#task-form-panel input[name="jobs_data:sow_num"] {
    width: 80px;
}
#task-form-panel input[name="jobs_data:work_order"] {
    width: 80px;
}
#task-form-panel input[name="jobs_data:circuit_qty"] {
    width: 40px;
}
#task-form-panel input[name="jobs_data:ilec_circuit_numbers"] {
    width: 40px;
}
