/*make room for control bar in document - this also may be set in the user script*/
body {
    padding-top: 45px;
}


.navbar img.navbar-brand-image {
    width: 80px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: -3px;
}

.tm-tech-context-menu-btn, .tm-task-context-menu-btn {
    padding: 1px 4px 5px 4px;
}

.document-type-controls {
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
}

/*
//
// For jquery.showLoading
//----------------------------------------*/
.loading-indicator {
    height: 80px;
    width: 80px;
    background: url( 'images/loading.gif' );
    background-repeat: no-repeat;
    background-position: center center;
}

.loading-indicator-overlay {
    background-color: #FFFFFF;
    opacity: 0.6;
    filter: alpha(opacity = 60);
}

#side-panel {
    position: fixed;
    height: 100%;
    background-color: #ccc;
    top:0px;
    left:0px;
    border-bottom: 1px solid #000;
    z-index: 100;
}

#side-panel button.close-panel{
    position:fixed;
    left:5px;
    z-index: 150;
    width: 20px;
    height: 24px;
    padding-left: 2px;
    padding-top: 0px;
}

/*
//
// Task Form
//----------------------------------------*/

#task-form-container {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
}

#task-form-container form{
    padding-bottom: 60px;
}

#task-form-container input, #task-form-container textarea, #task-form-container select{
    /*background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5) inset;*/
    color: #9D9E9E;
    padding: 3px 5px;
    font-weight: bold;
    height: 28px;
    /*border-radius: 6px;*/
}

.select2-chosen {
    color: #9D9E9E;
    font-weight: bold;
}

#task-form-container .input-group-addon {
    height: 28px;
    padding: 0px 8px;
}

#task-form-container input:hover, #task-form-container textarea:hover, #task-form-container select:hover , .select2-chosen:hover {
    /*background: none repeat scroll 0 0 #DFE9EC;*/
    color: #414848;
}
#task-form-container input:focus, #task-form-container textarea:focus, #task-form-container select:focus {
    /*background: none repeat scroll 0 0 #DFE9EC;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25) inset;*/
    color: #414848;
}


#task-form-container fieldset {
    clear: both;
    border:1px solid #9D9E9E;
    border-radius: 5px;
    margin: 4px;
    padding: 0 0.625em 0;
}


#task-form-container fieldset legend {
    font-size: .8em;
    border-width: 0;
    width: inherit;
    margin-bottom: 0;
}

#task-form-container label {
    vertical-align: top;
    /*display: inline-block;*/
    padding-top:5px;
    padding-left:0px;
    padding-right:5px;
    padding-bottom: 0px;
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 0;
    /*color: #9D9E9E;*/
}

#task-form-container .help-block {
    margin-bottom: 5px;
}

#task-form-container label:after {
    content: ': ';
}

#task-form-container .form-input {
    display: inline-block;
}

#task-form-container legend + .form-group {
    margin-top: 0;
}

#task-form-container input {
    width: 240px;
}

#task-form-container select[name="AssignedTechName"] {
    width: 100%;
}

#task-form-container input[name="AssignedDate"] {
    width: 150px;
}

#task-form-container input[name="ContractRefNum"] {
    width: 100px;
    margin-right: 10px;
}
#task-form-container input[name="SchedSeq"] {
    width: 40px;
}
#task-form-container input[name="LocationState"] {
    width:40px;
}
#task-form-container input[name="LocationZip"] {
    width: 70px;
}
#task-form-container textarea[name="ContractSpecialInst"] {
    width: 240px;
    height: 12em;
}
#task-form-container input[name="jobs_data:scp_num"] {
    width: 80px;
}
#task-form-container input[name="jobs_data:sow_num"] {
    width: 80px;
}
#task-form-container input[name="jobs_data:work_order"] {
    width: 80px;
}
#task-form-container input[name="jobs_data:circuit_qty"] {
    width: 40px;
}
#task-form-container input[name="jobs_data:ilec_circuit_numbers"] {
    width: 140px;
}