/********************Controls Container*************************************/


#fieldportal_controls_container {
    font-family: Arial, Helvetica, sans-serif;
    color: #444;
    margin: 0;
    font-size: 12px;
    height: 40px;
    display: none;
}

#fieldportal_controls_container { /*border and shadow*/
    border-bottom: 1px solid #555;
    /*-moz-box-shadow: 0 2px 2px -1px rgba(0, 0, 0, .9);
    -webkit-box-shadow: 0 2px 2px -1px rgba(0, 0, 0, .9);*/
    /*box-shadow: 0 1px 1px -1px rgba(0, 0, 0, .9);*/
}

#fieldportal_controls_container .container:before, .container:after {
    content: " ";
    display: table;
}
/* *, *:before, *:after {
    -moz-box-sizing: border-box;
}*/
#fieldportal_controls_container .container:after {
    clear: both;
}
#fieldportal_controls_container .container {
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/********************Controlbar********************************************/

.controlbar-fixed-top {
    margin: 0;
    padding: 0;
}
.controlbar {
    background-color: #F8F8F8;
    border-color: #E7E7E7;
}
.controlbar-fixed-top {
    top: 0;
    z-index: 1030;
}
.controlbar-fixed-top {
    border-radius: 0;
}
.controlbar-fixed-top {
    border-width: 0 0 1px;
    left: 0;
    position: fixed;
    right: 0;
}
.controlbar-inner {
    background: #3993ba;
    background: -moz-linear-gradient(top, #3993ba 0%, #067ead 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3993ba), color-stop(100%,#067ead));
    background: -webkit-linear-gradient(top, #3993ba 0%,#067ead 100%);
    background: -o-linear-gradient(top, #3993ba 0%,#067ead 100%);
    background: -ms-linear-gradient(top, #3993ba 0%,#067ead 100%);
    background: linear-gradient(top, #3993ba 0%,#067ead 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3993ba', endColorstr='#067ead',GradientType=0 );
}

/********************Controlbar Left,Right,Middle************************************/

#fieldportal_controls_container .container .control-container {
    float:left;
    min-height: 1px;
}

#fieldportal_controls_container .container .control-container.left {
    width: 20%;
    text-align: left;
    background: url("images/portal_logo-transp-sm.png") no-repeat 0px 5px;
    height: 100%;
}

#fieldportal_controls_container .container .control-container.middle {
    width: 60%;
    text-align: center;
}

#fieldportal_controls_container .container .control-container.right {
    width: 20%;
    text-align: right;
}

/*Components:*/
#fieldportal_controls_container .brand img {
    margin-top: 4px;
}
#fieldportal_controls_container .message-control {
    padding:5px;
    font-size:1.1em;
}

#fieldportal_controls_container .status-bar {

}

#fieldportal_controls_container .status-bar .status-item{
    display:inline-block;
    margin-left: 10px;
}

#fieldportal_controls_container .status-bar .status-item .status-label{
    font-weight: bold;
}

#fieldportal_controls_container .status-bar .status-item .status-label:after{
    content: ":";
    font-weight: bold;
}
#fieldportal_controls_container .status-bar .status-item .status-value{
    margin-left: 5px;
    color: #d1d1d1;
}

/*
//
 */
/*************************Document Control**********************************************/
.document-control {
    text-align: left;
}
.document-control .document-type {
    font-size: 1.3em;
    font-weight: bold;
}
.document-control .task-type {
    font-size: 1.3em;
    font-weight: bold;
}
.document-control .var-label {
    font-weight: bold;
}