PRE, OL, UL, BLOCKQUOTE, TABLE, BODY, A, H1, H2, H3, H4, H5, H6, P, TH, TD {
    font-family: inherit;
}
OL, UL, TABLE, H1, H2, H3, H4, H5, H6, BODY {
    background-color: inherit;
}
TH {
    background-color: inherit;
    color: inherit;
}

OL, UL {
    font-size: inherit !important;
}

H4 {
    background-color: inherit !important;
    color: inherit !important;
    font-size: inherit !important;
    font-weight: inherit !important;
}

/*Resolve conflicts with UL in bootstrap*/
.navbar-inner UL {
    background-color: inherit;
}

.navbar-inner ul.dropdown-menu {
    background-color: #fff;
}

/*
H1, H2, H3, H4, H5, H6 {
    font-weight: bold
}
H1 {
    font-size: x-large;
}
H2 {
    font-size: large;
}
H3 {
    font-size: medium;
}
H4 {
    font-size: small;
}
H5 {
    font-size: x-small;
}
H6 {
    font-size: x-small;
    font-style: italic
}
OL {
    list-style-type: decimal
}
OL OL {
    list-style-type: upper-alpha
}
OL OL OL {
    list-style-type: lower-alpha
}
UL {
    list-style-type: disc
}
UL UL {
    list-style-type: circle
}
UL UL UL {
    list-style-type: square
}
*/
