
td.tech-cell {
    vertical-align: top;
    width: 180px; /*set overall width early to avoid jumping*/
}

td.tech-cell .tech-controls{
    margin-top: 15px;
    margin-right: 15px;
}

td.tech-cell .tech-controls .tech-select{
    float: right;
}

td.tech-cell .tech-alias{
    width: 180px;
    margin-top: 20px;
}
td.tech-cell .tech-name{
    margin-top: 8px;
    color: green;
    font-size: 12px;
}
td.tech-cell .tech-name.unmatched{
    font-style: italic;
    color: gray;
}
td.tech-cell .tech-match-link{
    margin-left: 10px;
}
td.tech-cell .tech-match-link a, td.tech-cell .tech-match-link a:visited{
    color: red;
    font-size: 14px;
}

/*==============Task Cells=======================*/

td.timeslot-cell { /*set overall width early to avoid jumping*/
    width: 145px;
}

td.timeslot-cell .task {
    padding: 3px;
}

td.timeslot-cell .task .service-type {
    width: 135px;
}

td.timeslot-cell .block {
    padding: 5px;
    background-color: #ffbaba;
}

.task.cleared .task-status {
    color: green;
}

/*==============Task Controls=======================*/

.task div.task-select {
    display: inline-block;
    padding-right: 3px;
}

.task .task-controls {
    text-align: right;
}

.task .task-controls .tm-task-context-menu-btn{
    /*float: right;*/
}

.task-info .needs-sync-message {
    font-size: 0.8em;
    font-style:italic;
    color: red;
}


.task-info {
    padding-top: 10px;
}

.task-info .fieldportal-job .fieldportal-label {
    font-size: 0.8em;
}

.task-info .fieldportal-job .fieldportal-workorder-id {
    font-weight: bold;
}

/*==============Tech Controls=======================*/

.tech-container div.tech-select {
    display: inline-block;
    padding-right: 3px;
}
