<link href="/gebo_admin/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<style>


#upload-job-form {
    width: 95%;
    margin: 0 auto;
    position: relative;
    z-index:5;

    background: #f3f3f3;
    border: 1px solid #fff;
    border-radius: 5px;

    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

#upload-job-form {
    font-size: 12px;
}

/*
#upload-job-form input, #upload-job-form textarea, #upload-job-form select{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5) inset;
    color: #9D9E9E;
    padding: 3px 5px;
    font-weight: bold;
}

#upload-job-form input:hover, #upload-job-form textarea:hover, #upload-job-form select:hover {
    background: none repeat scroll 0 0 #DFE9EC;
    color: #414848;
}
#upload-job-form input:focus, #upload-job-form textarea:focus, #upload-job-form select:focus {
    background: none repeat scroll 0 0 #DFE9EC;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25) inset;
    color: #414848;
}
*/

#upload-job-form fieldset {
    clear: both;
    border:1px solid #9D9E9E;
    border-radius: 5px;
    margin: 4px;
}


#upload-job-form fieldset legend {
    font-size: .8em;
}

#upload-job-form label {
    float:left;
    padding-top:5px;
    padding-left:10px;
    padding-right:5px;
    /*color: #9D9E9E;*/
}
#upload-job-form label:after {
    content: ': ';
}
#upload-job-form div.field-wrapper {
    float:left;
}

#upload-job-form input {
    width: 140px;
}
#upload-job-form input.ContractRefNum {
    width: 80px;
}
#upload-job-form input.SchedSeq {
    width: 40px;
}
#upload-job-form input.LocationState {
    width:40px;
}
#upload-job-form input.LocationZip {
    width: 60px;
}
#upload-job-form textarea.ContractSpecialInst {
    width: 140px;
    height: 2em;
}
#upload-job-form input.jobs_data-scp_num {
    width: 80px;
}
#upload-job-form input.jobs_data-sow_num {
    width: 80px;
}
#upload-job-form input.jobs_data-work_order {
    width: 80px;
}
#upload-job-form input.jobs_data-circuit_qty {
    width: 40px;
}
#upload-job-form input.jobs_data-ilec_circuit_numbers {
    width: 40px;
}


</style>

<form id="upload-job-form">


  <fieldset class="schedule">
    <legend>Schedule</legend>

    <div class="field-wrapper AssignedTechName">
		<label for="upload-job-form-AssignedTechName">Tech Name</label><span class="require"></span>
		<input type="text" name="AssignedTechName" class="AssignedTechName" id="upload-job-form-AssignedTechName">
    </div>

<div class="field-wrapper AssignedTechName">
                <select name="AssignedTechName">
            <option value="">&lt;Select AssignedTechName&gt;</option>
            <option value="Alex Shperlin">Alex Shperlin</option>
            <option value="Anthony Oriola">Anthony Oriola</option>
            <option value="Anthony Smith">Anthony Smith</option>
            <option value="Arturo Carrillo">Arturo Carrillo</option>
            <option value="Ben Osifeso">Ben Osifeso</option>
            <option value="Bill McGill">Bill McGill</option>
            <option value="Brian Nelson">Brian Nelson</option>
            <option value="Brian Skiba">Brian Skiba</option>
            <option value="Charles Fiehtner">Charles Fiehtner</option>
            <option value="Charles Hughes">Charles Hughes</option>
            <option value="Chris Barnes">Chris Barnes</option>
            <option value="Chuck Oti">Chuck Oti</option>
            <option value="Craig MiddleBrook">Craig MiddleBrook</option>
            <option value="Dave Cleland">Dave Cleland</option>
            <option value="David Holt">David Holt</option>
            <option value="David Martinez">David Martinez</option>
            <option value="Delon DeSouza">Delon DeSouza</option>
            <option value="Earl Jones ">Earl Jones </option>
            <option value="Ernest Trull">Ernest Trull</option>
            <option value="Fred Behn">Fred Behn</option>
            <option value="Jamel Young">Jamel Young</option>
            <option value="Joe Paragas">Joe Paragas</option>
            <option value="John Cunningham">John Cunningham</option>
            <option value="John Wolfington">John Wolfington</option>
            <option value="Jorge Lopez">Jorge Lopez</option>
            <option selected="selected" value="Jose Canales">Jose Canales</option>
            <option value="Jose Carrillo">Jose Carrillo</option>
            <option value="Kiwuan Miles">Kiwuan Miles</option>
            <option value="Kris Greeley">Kris Greeley</option>
            <option value="Larry Holt">Larry Holt</option>
            <option value="Leo Silva">Leo Silva</option>
            <option value="Loc Tran">Loc Tran</option>
            <option value="Manuel Chacon">Manuel Chacon</option>
            <option value="Mario Encarnacion">Mario Encarnacion</option>
            <option value="Paul Niedzwiecki">Paul Niedzwiecki</option>
            <option value="Paul Smith">Paul Smith</option>
            <option value="Raymond Tong">Raymond Tong</option>
            <option value="Rey Radlin">Rey Radlin</option>
            <option value="Robert Markley">Robert Markley</option>
            <option value="Roderick Lewis">Roderick Lewis</option>
            <option value="Rodney Bowman">Rodney Bowman</option>
            <option value="Ronald Gabin">Ronald Gabin</option>
            <option value="Savva Savvas">Savva Savvas</option>
            <option value="Scott Edens">Scott Edens</option>
            <option value="Sean Maloney">Sean Maloney</option>
            <option value="Sunil Maharjan">Sunil Maharjan</option>
            <option value="Tomas Nieves">Tomas Nieves</option>
            <option value="Vic Cotto">Vic Cotto</option>
        </select>
</div>

    <div class="field-wrapper ContractRegionName">
		<label for="upload-job-form-ContractRegionName">Region</label><span class="require"></span>
		<input type="text" name="ContractRegionName" class="ContractRegionName" id="upload-job-form-ContractRegionName">
    </div>

    <div class="field-wrapper AssignedDate">
		<label for="upload-job-form-AssignedDate">Scheduled Date</label><span class="require"></span>
		<input type="text" name="AssignedDate" class="AssignedDate" id="upload-job-form-AssignedDate">
    </div>

    <div class="field-wrapper AssignedTime">
		<label for="upload-job-form-AssignedTime">Scheduled Time</label><span class="require"></span>
		<input type="text" name="AssignedTime" class="AssignedTime" id="upload-job-form-AssignedTime">
    </div>

  </fieldset>




  <fieldset class="job">
    <legend>Job Type</legend>

    <div class="field-wrapper ContractRefNum">
		<label for="upload-job-form-ContractRefNum">Task ID</label><span class="require"></span>
		<input type="text" name="ContractRefNum" class="ContractRefNum" id="upload-job-form-ContractRefNum">
    </div>

    <div class="field-wrapper SchedSeq">
		<label for="upload-job-form-SchedSeq">Dispatch Seq</label><span class="require"></span>
		<input type="text" name="SchedSeq" class="SchedSeq" id="upload-job-form-SchedSeq">
    </div>

    <div class="field-wrapper JobType">
		<label for="upload-job-form-JobType">Job Type</label><span class="require"></span>
		<input type="text" name="JobType" class="JobType" id="upload-job-form-JobType">
    </div>

    <div class="field-wrapper JobSubType">
		<label for="upload-job-form-JobSubType">Job Class</label><span class="require"></span>
		<input type="text" name="JobSubType" class="JobSubType" id="upload-job-form-JobSubType">
    </div>

    <div class="field-wrapper jobs_data-isp">
		<label for="upload-job-form-jobs_data-isp">ISP</label><span class="require"></span>
		<input type="text" name="jobs_data[isp]" class="jobs_data-isp" id="upload-job-form-jobs_data-isp">
    </div>

    <div class="field-wrapper jobs_data-affiliate">
        <label for="upload-job-form-jobs_data-affiliate">ISP</label><span class="require"></span>
        <input type="text" name="jobs_data[affiliate]" class="jobs_data-affiliate" id="upload-job-form-jobs_data-affiliate">
    </div>

  </fieldset>


  <fieldset class="end-user">
    <legend>End User</legend>

    <div class="field-wrapper LocationName">
		<label for="upload-job-form-LocationName">Name</label><span class="require"></span>
		<input type="text" name="LocationName" class="LocationName" id="upload-job-form-LocationName">
    </div>

    <div class="field-wrapper LocationAddress">
		<label for="upload-job-form-LocationAddress">Address</label><span class="require"></span>
		<input type="text" name="LocationAddress" class="LocationAddress" id="upload-job-form-LocationAddress">
    </div>

    <div class="field-wrapper LocationCity">
		<label for="upload-job-form-LocationCity">City</label><span class="require"></span>
		<input type="text" name="LocationCity" class="LocationCity" id="upload-job-form-LocationCity">
    </div>

    <div class="field-wrapper LocationState">
		<label for="upload-job-form-LocationState">State</label><span class="require"></span>
		<input type="text" name="LocationState" class="LocationState" id="upload-job-form-LocationState">
    </div>

    <div class="field-wrapper LocationZip">
		<label for="upload-job-form-LocationZip">Zip</label><span class="require"></span>
		<input type="text" name="LocationZip" class="LocationZip" id="upload-job-form-LocationZip">
    </div>

    <div class="field-wrapper LocationPhone">
        <label for="upload-job-form-LocationPhone">Phone</label><span class="require"></span>
        <input type="text" name="LocationPhone" class="LocationPhone" id="upload-job-form-LocationPhone">
    </div>

  </fieldset>


  <fieldset class="service">
    <legend>Service</legend>
    <div class="field-wrapper jobs_data-service_type">
        <label for="upload-job-form-jobs_data-service_type">Service</label><span class="require"></span>
        <input type="text" name="jobs_data[service_type]" class="jobs_data-service_type" id="upload-job-form-jobs_data-service_type">
    </div>

    <div class="field-wrapper jobs_data-cpe_type">
        <label for="upload-job-form-jobs_data-cpe_type">CPE Type</label><span class="require"></span>
        <input type="text" name="jobs_data[cpe_type]" class="jobs_data-cpe_type" id="upload-job-form-jobs_data-cpe_type">
    </div>

    <div class="field-wrapper jobs_data-circuit_number">
        <label for="upload-job-form-jobs_data-circuit_number">Circuit Number</label><span class="require"></span>
        <input type="text" name="jobs_data[circuit_number]" class="jobs_data-circuit_number" id="upload-job-form-jobs_data-circuit_number">
    </div>

    <div class="field-wrapper jobs_data-affiliate">
        <label for="upload-job-form-jobs_data-affiliate">Affiliate</label><span class="require"></span>
        <input type="text" name="jobs_data[affiliate]" class="jobs_data-affiliate" id="upload-job-form-jobs_data-affiliate">
    </div>

    <div class="field-wrapper jobs_data-scp_num">
        <label for="upload-job-form-jobs_data-scp_num">SCP Num</label><span class="require"></span>
        <input type="text" name="jobs_data[scp_num]" class="jobs_data-scp_num" id="upload-job-form-jobs_data-scp_num">
    </div>

    <div class="field-wrapper jobs_data-sow_num">
        <label for="upload-job-form-jobs_data-sow_num">SOW</label><span class="require"></span>
        <input type="text" name="jobs_data[sow_num]" class="jobs_data-sow_num" id="upload-job-form-jobs_data-sow_num">
    </div>

    <div class="field-wrapper jobs_data-work_order">
        <label for="upload-job-form-jobs_data-work_order">Work Order</label><span class="require"></span>
        <input type="text" name="jobs_data[work_order]" class="jobs_data-work_order" id="upload-job-form-jobs_data-work_order">
    </div>

    <div class="field-wrapper jobs_data-circuit_qty">
        <label for="upload-job-form-jobs_data-circuit_qty">Circuit Qty</label><span class="require"></span>
        <input type="text" name="jobs_data[circuit_qty]" class="jobs_data-circuit_qty" id="upload-job-form-jobs_data-circuit_qty">
    </div>

    <div class="field-wrapper jobs_data-ilec_circuit_numbers">
        <label for="upload-job-form-jobs_data-ilec_circuit_numbers">ILEC Circuits</label><span class="require"></span>
        <input type="text" name="jobs_data[ilec_circuit_numbers]" class="jobs_data-ilec_circuit_numbers" id="upload-job-form-jobs_data-ilec_circuit_numbers">
    </div>

    <div class="field-wrapper ContractSpecialInst">
        <label for="upload-job-form-ContractSpecialInst">Notes</label><span class="require"></span>
        <textarea name="ContractSpecialInst" class="ContractSpecialInst" id="upload-job-form-ContractSpecialInst"></textarea>
    </div>

</fieldset>

</form>